@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');


body {
  margin: 0 0 0 0;
  font-family: 'Inter', sans-serif;
}

.container {
  display: flex;
  align-items: center;
}

.grid {
  padding-top: 1.5rem;
}

article {
  flex-shrink: 0; 
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1080px;
  height: 1080px;
}

section {
  padding: 1.5rem;
}

.flex-container {
  display: flex;
}