body {
  margin: 0 0 0 0;
}

.container {
  display: flex;
  align-items: center;
}

.grid {
  padding-top: 1.5rem;
  max-width: 2160px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

}

article {
  flex-shrink: 0; 
  font-size: 36px;
  margin-bottom: 1.5rem;
  margin-top: 1.5rem;
  margin-left: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1080px;
  height: 1080px;
  zoom: .5;
}

section {
  padding: 1.5rem;
}

.flex-container {
  display: flex;
}