.template-a {

  text-align: left;
  padding: 7rem;
  blockquote {
    font-weight: 600;
    font-size: 2.8rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  small {
    font-weight: bold;
  }
  h1 { 
    font-size: 8rem;
    line-height: 8rem;
  }
  &.gold {
  
    background: $gold;
    color: $white;    
    h1 {
      color: $black;
    }
  }
  &.white {
    background: $white;
    color: $black;
    small {
      color: $gold;
    }
  }
}