@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

article {
  font-family: 'Poppins', sans-serif;
  color: white;
  background: blue;
}

$black: #1c1a19;
$grey: #e0e0e0;
$white: #fffcf9;

$beige:#f2e8df;
$red: #ff020a;
$darkRed: #bf3636;
$burntOrange: #d98504;

$accentOne: $red;