@import url('https://fonts.googleapis.com/css2?family=Inter&family=Literata:wght@400;700&display=swap');



article {
  font-family: 'Literata', serif;
}

$black: #1f2937;
$grey: #e0e0e0;
$white: #fffcf9;

$gold:#ecad30;
