@import url('https://fonts.googleapis.com/css2?family=Inter&family=Literata:wght@400;700&display=swap');

// Becomist 
$becomist-font-serif: 'Literata', serif;

$becomist-black: #1f2937;
$becomist-grey: #e0e0e0;
$becomist-white: #fffcf9;
$becomist-primary:#ecad30;